<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:brewer="http://brewer.algaworks.com"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
	<title>Cadastro de fornecedor</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="col-xs-10">
					 <h1 th:if="${fornecedor.novo}">Cadastro de fornecedor</h1>
					
					<h1 th:unless="${fornecedor.novo}" 
						th:text="|Edi&ccedil;&atilde;o cadastro fornecedor - ${fornecedor.razaoSocial}|">Edi&ccedil;&atilde;o de fornecedor</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a  class="btn btn-default" th:href="@{/fornecedores}">
							<i class="glyphicon glyphicon-th-list"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="POST" th:object="${fornecedor}" th:action="@{/fornecedores/novo}">
				<brewer:message />
				
				<input type="hidden" th:field="*{codigo}" />
				
				<div class="row">
					<div class="form-group col-sm-12 bw-required" brewer:classforerror="razaoSocial">
						<label class="control-label" for="razaoSocial">Raz&atilde;o Social</label>
						<input class="form-control" id="razaoSocial" autofocus="autofocus" th:field="*{razaoSocial}"/>
					</div>
				</div>
				
			<div class="row">
				<div class="form-group  col-sm-8 bw-required" brewer:classforerror="cnpj">
					<label for="cnpj" class="control-label">CNPJ</label>
					<input type="text" class="form-control js-cnpj" id="cnpj" th:field="*{cnpj}" />
				</div>
				<div class="form-group  col-sm-4 bw-required" brewer:classforerror="inscricaoEstadual">
					<label for="inscricaoEstadual" class="control-label">Inscri&ccedil;&atilde;o Estadual</label>
					<input type="text" class="form-control" id="inscricaoEstadual" th:field="*{inscricaoEstadual}" />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-4 bw-required">
					<label for="telefone" class="control-label">Telefone</label>
					<input type="text" id="telefone" class="form-control js-phone-number" th:field="*{telefone}" />
				</div>
				
				<div class="form-group col-sm-8 bw-required" brewer:classforerror="email">
					<label for="email" class="control-label">E-mail</label>
					<input type="text" id="email" class="form-control" th:field="*{email}" />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-4 bw-required">
					<label for="logradouro" class="control-label">Logradouro</label>
					<input type="text" id="logradouro" class="form-control" th:field="*{endereco.logradouro}" />
				</div>
				<div class="form-group col-sm-4 bw-required">
					<label for="numero" class="control-label">N&uacute;mero</label>
					<input type="text" id="numero" class="form-control" th:field="*{endereco.numero}" />
				</div>
				<div class="form-group col-sm-4 bw-required">
					<label for="complemento" class="control-label">Complemento</label>
					<input type="text" id="complemento" class="form-control" th:field="*{endereco.complemento}" />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-4 bw-required">
					<label for="cep" class="control-label">CEP</label>
					<input type="text" id="cep" class="form-control js-cep" th:field="*{endereco.cep}" />
				</div>
				<div class="form-group col-sm-4 bw-required">
					<label for="estado" class="control-label">Estado</label>
					<select id="estado" class="form-control" th:field="*{endereco.cidade.estado}">
						<option value="">Selecione o estado</option>
						<option  th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
					</select>
				</div>
				<div class="form-group col-sm-4 bw-required">
					<label for="cidade" class="control-label">Cidade</label>
					<div class="bw-field-action">
						<input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}" />
					
						<select id="cidade" class="form-control" data:url="@{/cidades}" disabled="disabled" th:field="*{endereco.cidade}">
							
						</select>
						
						<div class="bw-field-action__icon js-img-loading" style="display: none;">
							<img th:src="@{/images/mini-loading.gif}" />
						</div>
					</div>
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/cliente.mascara-cpf-cnpj.js}"></script>
		<script th:src="@{/javascripts/cliente.combo-estado-cidade.js}"></script>
	</th:block>
</body>

</html>